@model List<proyectoCanchas.Models.Rent>;
@{
    DateTime currentTime = DateTime.Now;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de Usuario</title>
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <div class="max-w-xl mx-auto bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-2xl font-semibold text-center text-gray-700 mb-6">Buscar Reserva</h2>

        <form method="post" action="/reserva/BuscarReserva" class="space-y-4">
            <div>
                <label for="searchTerm" class="block text-sm font-medium text-gray-700">Cedula de la reservacion</label>
                <input type="text" id="searchTerm" name="searchTerm" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Ingresa la cedula">
            </div>

            <div class="flex justify-center">
                <button type="submit" class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Buscar
                </button>
            </div>
        </form>

        <!-- Resultados de la búsqueda -->
        <div id="searchResults" class="mt-6">
            <!-- Verifica si hay resultados -->
            @if (Model != null && Model.Any())
            {
                <h3 class="text-xl font-medium text-gray-800 mb-4">Resultados:</h3>
                <ul class="divide-y divide-gray-200">
                    @foreach (var rent in Model)
                    {
                        <li class="py-3 flex justify-evenly">
                            <div>
                                <div class="text-gray-700 font-medium">@rent.ClientName @rent.ClientLastName</div>
                            <div class="text-sm text-gray-500">@rent.ClientCedula</div>
                            </div>
                            <div>
                                 <div class="text-gray-700 font-medium">@rent.DateTime</div>
                            <div class="text-sm text-gray-500">@rent.ClientCedula</div>
                            </div>
                            <div>
                                 <div class="text-gray-700 font-medium">
                                    @if(@rent.DateTime > currentTime){
                                        <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Activa</span>
                                    }
                                    else{
                                        <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Inactiva</span>
                                    }
                                 </div>
                            </div>
                        </li>
                        
                    }
                </ul>
            }
            else if (Model != null)
            {
                <p class="text-sm text-gray-500">No se encontraron usuarios.</p>
            }
        </div>
    </div>

</body>
</html>